1. What are data structures, and why are they important?
ans->A data structure is a way of organizing, storing, and managing data so that it can be used efficiently.
Think of it as a container that helps arrange data in a particular format so operations like searching, insertion, deletion, and updating can be performed easily.
(IMPORTANT)-
*Efficiency - Choosing the right data structure makes programs faster and reduces memory usage.

*Reusability - Well-designed data structures can be reused across multiple applications.

*Data Management - They allow us to store and organize large amounts of data in a logical way.

*Optimization - The choice of data structure directly impacts algorithm performance (time and space complexity).

*Problem Solving - Many complex problems like route finding in Google Maps, social networks, or databases rely on advanced data structures such as graphs, trees, and heaps.

2.  Explain the difference between mutable and immutable data types with examples?
ans->1. Mutable Datatypes - A mutable object can be changed after it is created.
That means you can add, remove, or modify elements without creating a new object.
Examples: list, dict,set,bytearray

list = [10 ,30,40]
print(list)
print(type(list))
print(list[0])
list[0]="vicky"
print(list)

2.Immutable Datatypes - An immutable object cannot be changed after it is created.
Any modification creates a new object in memory.
Examples: int, float, str, tuple,frozenset

tuple = (10,20,30,40)
print(tuple)
print(type(tuple))
print(tuple[1])
tuple[1]
print(tuple)

3. What are the main differences between lists and tuples in Python?
ans->The main difference between list and tuple is
*List is mutable-element can be added, remove or changed.
list created using square brackets []
example- my_list = [1,2,3]

*Tuple is immutabl - once element is created can not be changed.
tuple created using round bracket ()
example- my_tuple = (1,2,3,4)

4. Describe how dictionaries store data?
ans->   Python, a dictionary (dict) is a mapping data structure that stores data as key-value-pairs.

student = {"id":101,"name":"vicky","dept":"cse"}

 A dictionary stores data in a hash table, using hashing of keys to map each key-value pair to a specific location in memory for fast access.

 5. Why might you use a set instead of a list in Python?
 ans-> *Use a set when you need unique elements, fast membership checking, or mathematical set operations.
 *Use a list when you need order, duplicates, or index-based access.

 6. What is a string in Python, and how is it different from a list?
 ans->String is a sequence of characters enclosed in sinle(''),double(""),or triple quotes(""" """).

 example: text = "hello world"
string is different form list because--
*string is a sequence of character,it immutable.
example-"hello world" or 'hello world'

*list is a sequence of elements can be numbers, strings,object etc,it is mutable .
example- [1,"hello",3.4]

7. How do tuples ensure data integrity in Python?
ans->Tuples ensure data integrity in Python by being immutable containers, preventing accidental modification, making them safe for representing constant, hashable, and structured data.

8.  What is a hash table, and how does it relate to dictionaries in Python?
ans->A hash table is a data structure that stores key–value pairs and allows very fast access, insertion, and deletion (on average, O(1) time complexity).
*Hash table = underlying data structure storing key–value pairs using a hash function.

9.  Can lists contain different data types in Python?
ans->Yes, Python lists can contain different data types because they store references to objects, not fixed-typed elements.
*Here, the list contains:

An integer (10)

A string ("hello")

A float (3.14)

A boolean (True)

Another list ([1, 2, 3])

A dictionary ({"key": "value"})

10. Explain why strings are immutable in Python?
ans->In Python, immutable objects cannot be changed after they are created.
So for strings:
*Once you create a string, you cannot change its characters directly.
*Any operation that seems to "modify" a string actually creates a new string.

Example:
s = "hello"
s[0] = "H"   

11. What advantages do dictionaries offer over lists for certain tasks?
ans->Advantages of dictionaries over lists:
*Faster lookup - dictionaries use keys (O(1) average) vs lists use indexes/search (O(n)).
*Key-value mapping - lets you associate data with meaningful keys, not just positions.
*Unique keys - avoids duplicates, ensuring clear identification of items.

12. Describe a scenario where using a tuple would be preferable over a list?
ans->Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

13. How do sets handle duplicate values in Python?
ans->In Python, sets automatically remove duplicate values.
If you add duplicates, only one copy is kept.

*Exampl-
s = {1,2,2,3,}
print(s)
# output- {1,2,3}

14. How does the “in” keyword work differently for lists and dictionaries?
ans->the “in” keyword work differently for lists and dictionaries because
     dictionary values can be duplicated like a list.

15. Can you modify the elements of a tuple? Explain why or why not?
ans->Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called. But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

16. What is a nested dictionary, and give an example of its use case?
ans->Creating a Nested Dictionary means placing dictionaries as values inside an outer dictionary using curly braces {}.
*Example-
students = {
    "101": {"name": "Vicky", "age": 20, "course": "CSE"},
    "102": {"name": "Anita", "age": 21, "course": "ECE"},
    "103": {"name": "Ravi", "age": 19, "course": "ME"}
}

print(students["101"]["name"])   # Output: Vicky
print(students["102"]["course"]) # Output: ECE

students["104"] = {"name": "Priya", "age": 22, "course": "IT"}

print(students)

17. Describe the time complexity of accessing elements in a dictionary?
ans->the time complexity of accessing elements in a dictionary is (o(1)).

18. In what situations are lists preferred over dictionaries?
ans->
*Order matters → Lists maintain the order of elements, while dictionaries (before Python 3.7) didnt guarantee order.

*Sequential data → When you just need to store a collection of items (like numbers, names, etc.) without associating them with unique keys.

*Index-based access → If you want to access elements by their position (e.g., mylist[0]), lists are better.

*Duplicates allowed → Lists can store duplicate values, while dictionary keys must be unique.

*Lightweight data → Lists are simpler and use less memory when you dont need key-value mapping.
 Example:
List is better for storing student roll numbers:

roll_numbers = [101, 102, 103, 104]
*Dictionary is better when mapping roll numbers to names:
students = {101: "John", 102: "Alice", 103: "Vicky"}

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
ans->A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
ans->A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair.
> Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [ ]:
#1. Write a code to create a string with your name and print it?

name = "vicky kumar yadav"
print(name)

vicky kumar yadav

In [ ]:
#2.Write a code to find the length of the string "Hello World".

string = "hello world"
print(len(string))

11

In [ ]:
#3  Write a code to slice the first 3 characters from the string "Python Programming".
string = "python programming"
print(string[0:3])

pyt

In [ ]:
#4 Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "i like apple"
print(string.replace("apple","orange"))

i like orange

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it.
list =[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1,2,3,4,]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ["a","b","c","d"]
print(list[1])

b

In [ ]:
#10  Write a code to reverse the list [10, 20, 30, 40, 50].
list =[10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#11  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple =(100,200,300,)
print(tuple)

(100, 200, 300)

In [ ]:
#12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ("red","green","blue","yellow")
print(t[1:4])

('green', 'blue', 'yellow')

In [ ]:
#13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
number = (10,20,5,15)
min_num = min(number)
print(min_num)

5

In [ ]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ("dog","cat","rabbit")
print(t.index("cat"))

1

In [ ]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple","banana","orange")

if "kiwi" in fruits:
  print("yes kiwi is in the fruits")
else:
  print("no kiwi is not in the fruits")

no kiwi is not in the fruits

In [ ]:
#16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
l = {'a','b','c'}
print(l)

{'a', 'c', 'b'}

In [ ]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [ ]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1,2,3}
s2 = {3,4,5}
s = s1.union(s2)
print(s)

{1, 2, 3, 4, 5}

In [ ]:
#20 . Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1,2,3}
s2 = {2,3,4}
s = s1.intersection(s2)
print(s)

{2, 3}

In [ ]:
#21 . Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict ={
    "name":"vcky",
    "age":23,
    "city":"dhanbad"
}
print(my_dict)

{'name': 'vcky', 'age': 23, 'city': 'dhanbad'}

In [ ]:
#22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {
    "name":"vicky",
    "age":23
}
person["country"] = "USA"

print(person)

{'name': 'vicky', 'age': 23, 'country': 'USA'}

In [ ]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {
    "name":"Alice",
    "age":30
}
print(person["name"])

Alice

In [ ]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {
    "name":"bob",
    "age":22,
    "city":"new york"
}
del person["age"]
print(person)

{'name': 'bob', 'city': 'new york'}

In [ ]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {
    "name":"alice",
    "city":"paris"
}
if "city" in person:
    print("city is present")
else:
    print("city is not present")

city is present

In [ ]:
#26  Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4]
print(list)
tuple = (1,2,3,4)
print(tuple)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [ ]:
#27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [3, 16, 18, 37, 99]

In [ ]:
#28  Write a code to create a list with strings and print the element at the third index.
list = ["vicky","kumar","yadav"]
print(list[2])

yadav

In [ ]:
#29  Write a code to combine two dictionaries into one and print the result.
my_dict = {
    "name":"vicky",
    "age":22
}
my_dict2 = {
    "city":"dhanbad",
    "country":"india"
}
my_dict.update(my_dict2)
print(my_dict)

{'name': 'vicky', 'age': 22, 'city': 'dhanbad', 'country': 'india'}

In [ ]:
#30 Write a code to convert a list of strings into a set.
fruits = ["banana", "orange", "apple"]
fruits_set = set(fruits)
print("Set:", fruits_set)

Set: {'banana', 'orange', 'apple'}